In [55]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [56]:
data = pd.read_csv('dataset/data_kesehatan_jiwa.csv',index_col='Unnamed: 0')
data

,Snoring range,Respiration rate,Body temperature,Limb movement rate,Blood oxygen levels,Eye movement,"Number of hour,sleep",Heart rate,Strees levels
0,93.800,25.680,91.840,16.600,89.840,99.60,1.840,74.20,3
1,91.640,25.104,91.552,15.880,89.552,98.88,1.552,72.76,3
2,60.000,20.000,96.000,10.000,95.000,85.00,7.000,60.00,1
3,85.760,23.536,90.768,13.920,88.768,96.92,0.768,68.84,3
4,48.120,17.248,97.872,6.496,96.248,72.48,8.248,53.12,0
...,...,...,...,...,...,...,...,...,...
625,69.600,20.960,92.960,10.960,90.960,89.80,3.440,62.40,2
626,48.440,17.376,98.064,6.752,96.376,73.76,8.376,53.44,0
627,97.504,27.504,86.880,17.752,84.256,101.88,0.000,78.76,4
628,58.640,19.728,95.728,9.728,94.592,84.32,6.728,59.32,1
629,73.920,21.392,93.392,11.392,91.392,91.96,4.088,63.48,2

In [57]:
import seaborn as sns
sns.set()

In [58]:
X = data.drop(columns='Strees levels')
y = data['Strees levels']

In [77]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [80]:
X_train.shape,X_test.shape

((441, 8), (189, 8))

In [112]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors = 80)
model.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=80)

In [113]:
model.score(X_test,y_test)

0.9788359788359788

In [114]:
y_pred = model.predict(X_test)
y_pred

array([0, 3, 2, 0, 3, 1, 3, 1, 0, 0, 2, 4, 2, 2, 1, 4, 1, 4, 1, 2, 0, 0,
       4, 0, 1, 2, 4, 0, 2, 2, 2, 0, 2, 2, 4, 0, 3, 2, 3, 3, 4, 4, 1, 0,
       4, 1, 1, 3, 3, 3, 1, 3, 2, 3, 0, 1, 0, 1, 3, 0, 3, 3, 0, 2, 0, 1,
       4, 2, 3, 0, 2, 3, 1, 4, 3, 4, 3, 1, 2, 3, 3, 4, 3, 4, 1, 4, 2, 2,
       1, 3, 4, 1, 2, 4, 4, 2, 4, 4, 2, 4, 4, 0, 1, 2, 1, 1, 1, 1, 3, 1,
       1, 4, 1, 3, 0, 0, 1, 0, 4, 0, 2, 3, 2, 2, 4, 3, 0, 0, 1, 2, 1, 0,
       3, 0, 2, 0, 0, 0, 2, 1, 2, 4, 2, 0, 4, 1, 1, 1, 0, 1, 3, 0, 4, 3,
       3, 4, 3, 1, 3, 2, 0, 0, 2, 2, 4, 2, 4, 1, 2, 1, 0, 3, 4, 2, 1, 0,
       4, 2, 0, 3, 3, 1, 4, 4, 2, 3, 4, 1, 3], dtype=int64)

In [116]:
from sklearn.metrics import classification_report

laporan = classification_report(y_test,y_pred)
print(laporan)

              precision    recall  f1-score   support

           0       1.00      0.95      0.97        39
           1       0.90      1.00      0.95        36
           2       1.00      0.95      0.97        41
           3       1.00      1.00      1.00        37
           4       1.00      1.00      1.00        36

    accuracy                           0.98       189
   macro avg       0.98      0.98      0.98       189
weighted avg       0.98      0.98      0.98       189